body {
    font-size: 16px;
    line-height: 1.5;
    color: #777777;
    background-image: url(../images/dark_Tire.png);
    background-color: #cccccc;
    background-attachment: fixed;
}

header {
    background-color: #ffffff;
    width: 100%;
    margin-bottom: 20px;
}

h1 {
    color: #ffffff;
    background-color: #4aaaa5;
    padding: 20px;
    float:left;
}

h2 {
    color: #4aaaa5;
    padding: 20px;

}
.container {
    margin-top: 20px;
    width: 960px;
    background-color: #ffffff;
    margin: 0 auto;
}

.nav-bar {
    width: 960px;
    background-color: #ffffff;
    height: 72px;
    margin: auto;
}

.nav-links {
    float:right;
    padding: 20px;
    background-color: #ffffff
}

.headshot {
    float:left;
    padding: 20px;
}

.aboutme {
    padding-top: 20px;
}
